# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
*/node_modules/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dist/
*/build/
*/dist/

# misc
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.cache/
.next/
.parcel-cache/
# Temp files
tmp/
temp/

# Coverage
coverage/

# OS Junk
.DS_Store
Thumbs.db

# VSCode settings
.vscode/